* Check out different fonts here: https://fonts.google.com/ */

h1 {
	font-family: 'Baloo Bhaijaan', cursive;
	padding-bottom: 10px;
}

h2 {
	font-family: 'Baloo Bhaijaan', cursive;
	font-family: 'Roboto', sans-serif;
	padding-bottom: 30px;
}

h3 {
	font-family: 'Droid Serif', serif;
	padding-bottom: 50px;
}


}*/
.stack {
  width: 15%;
  display: inline-table;
  min-height: 30vh;
  width: 28%;
  margin: auto;
  display: inline-table;
}


.lime_green {
  background-color: #97D23C;
  
}


.green {
  background-color: #FFEC0C;
}

.limer_green {
  background-color: #16A950;
}
/*this is the stack class set of colors*/
.green1 {
  background-color: #00A046;
width: 50vw;
}


.forrest {
  background-color: #008977;
  width: 60vw;
}


.ocean {
  background-color: #0070AF;
  width: 90vw;
}

.sky {
  background-color: #335AB6;
  width: 150vw;
}


.purple {
  background-color: #704591;
  width: 150vw;
}
