* Check out different fonts here: https://fonts.google.com/ */

h1 {
	font-family: 'Baloo Bhaijaan', cursive;
	padding-bottom: 10px;
}

h2 {
	font-family: 'Baloo Bhaijaan', cursive;
	font-family: 'Roboto', sans-serif;
	padding-bottom: 30px;
}

h3 {
	font-family: 'Droid Serif', serif;
	padding-bottom: 50px;
}




/* Check out different colors here: https://www.materialpalette.com/ */

/*.box {
  min-height: 100px;
  width: 50%;


}*/
.stack {
  min-height: 500px;
  width: 5%;
  display: inline-table;

}
/*.white {
	  background-color: #fff;
	  min-height:25px;
}*/


.lime_green {
  background-color: #97D23C;
}


.green {
  background-color: #FFEC0C;
}

.limer_green {
  background-color: #16A950;
}
/*this is the stack class set of colors*/
.green1 {
  background-color: #00A046;
}


.forrest {
  background-color: #008977;
}


.ocean {
  background-color: #0070AF;
}

.sky {
  background-color: #335AB6;
}


.purple {
  background-color: #704591;
}



.dusk {
  background-color: #97476C;
}



.dawn {
  background-color: #B83755;
}



.fire {
  background-color: #DD3938;
}


.lava {
  background-color: #F54E2A;
}


.orange {
  background-color: #FE762A;
}
