@media screen and (max-width: 14000px) {
  body {
    width: 800px;
    margin: 0 auto;
  }
  img {
	content:url(kitten-large.png);
	
  }
  body {
	  background-image: url(anna-4.gif)
  }
}
@media screen and (max-width: 1200px) {
  body {
    width: 800px;
    margin: 0 auto;
  }
  img {
	content:url(kitten-medium.png);
	
  }
}
@media screen and (max-width: 1000px) {
  body {
    width: 800px;
    margin: 0 auto;
  }
  img {
	content:url(kitten-small.png);
	
  }
}
@media screen and (max-width: 800px) {
  body {
    width: 800px;
    margin: 0 auto;
  }
  img {
	content:url(kittyloaf.gif);
	
  }
body {
	  background-image: url(anna-1.gif)
  }
  }
