p{
text-style: underline;
}
.stack {
  width: 15%;
  display: inline-table;
  min-height: 20vh;
  margin: auto;
}
.bitty {
  width: 25vh;
  display: inline-table;
  min-height: 20vh;
  margin: auto;
}
.fatty {
  width: 15%;
  display: flex;
  min-height: 70vh;
  margin: auto;
}
.boom{
display:flex;
}

.height1 {
    width: 50vh;
}
.lime_green {
  background-color: #97D23C;
  
}


.green {
  background-color: #FFEC0C;
}

.limer_green {
  background-color: #16A950;
}
/*this is the stack class set of colors*/
.green1 {
  background-color: #00A046;
}


.forrest {
  background-color: #008977;
 
}


.ocean {
  background-color: #0070AF;
}

.sky {
  background-color: #335AB6; 
}


.purple {
  background-color: #704591;
}
